{% extends 'employee/base.html' %} {% load crispy_forms_tags%}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>employee registration form</title>
</head>

<body>
    {% block content %}
    <div class="row">
        <div class="col-md-2 ">
            {% include 'employee/sidebar.html'%}
        </div>

        <div class="col-md-9 ml-3">
            <div class="row">
                {% include 'employee/navbar.html'%}
            </div>
            <div class="container mt-5">
                <h4>EMPLOYEE LIST</h4>
                <p>display of the employee lists after they have been added by the administrator</p>

                <div class="row">
                    <div class="row">
                        <form action="" method="GET">
                            <div class="row">
                                <div class="col-md-4">
                                    {{ myFilter.form.position|as_crispy_field}}
                                </div>
                                <div class="col-md-4">
                                    {{ myFilter.form.gender|as_crispy_field}}
                                </div>
                                <div class="col-md-2"><a href="" type="submit" class="btn btn-info mt-md-4"><i class="fa fa-search" aria-hidden="true"></i> Search</button></a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <a href="{% url 'employee_form'%}" class="btn btn-info m-3 col-offset-0"><i class="fa fa-plus"></i> Add User</a>

                    <table class="table  p-2 jumbortron">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Employee_code</th>
                                <!-- <th scope="col">Email </th> -->
                                <th scope="col">Position</th>
                                <th scope="col">Mobile</th>
                                <th scope="col"> Update</th>
                                <th scope="col"> Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for employee in employees %}
                            <tr>
                                <td scope="row">{{employee.name}}</td>
                                <td>{{employee.emp_code}}</td>
                                <!-- <td>{{employee.email}}</td> -->
                                <td>{{employee.position}}</td>
                                <td>{{employee.mobile}}</td>
                                <td>

                                    <a class="" href="{% url 'update' employee.id%}"><i class="fa fa-pencil-square-o text-center text-info"></i></a>
                                </td>
                                <td>
                                    <a href="">
                                        <form action="" method="post">
                                            {% csrf_token%}
                                            <a href="{% url 'delete' employee.id %}"><i class="fa fa-trash-o text-danger"></i></a>
                                        </form>
                                    </a>
                                </td>
                            </tr>
                            {% endfor%}
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>

    {% endblock content %}
</body>

</html>