{% extends 'employee/base.html' %} {% load crispy_forms_tags%}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>employee registration form</title>
</head>

<body>
    {% block content %}

    <div class="row">
        <div class="col-md-2">
            {% include 'employee/sidebar.html'%}
        </div>
        <div class="col-md-9 ml-4 container">
            <div class="row">
                {% include 'employee/navbar.html'%}
            </div>

            <div class="container">
                <div class="jumbotron m-3 mt-4">
                    <h4>EMPLOYEE FORM</h4>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                {{ form.name|as_crispy_field}}
                            </div>
                            <div class="col-md-6">
                                {{ form.email|as_crispy_field}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                {{ form.gender|as_crispy_field}}
                            </div>
                            <div class="col-md-4">
                                {{ form.mobile|as_crispy_field}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                {{ form.emp_code|as_crispy_field}}
                            </div>
                            <div class="col-md-8">
                                {{ form.position|as_crispy_field}}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-outline-info"><i class="fa fa-database"></i>  Submit</button>
                    </form>
                </div>
                <div>
                    <a class="btn btn-info text-light m-2" href="{% url 'employee_list' %}">Go to list</a>
                    <a class="btn btn-success  text-light m-2" href="{% url 'home'%}"> Home</a>
                </div>

            </div>
        </div>

    </div>

    {% endblock content %}
</body>

</html>