{% extends 'employee/base.html' %}

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    {% block content %}
    <div class="row">
        <div class="col-md-2 ">
            {% include 'employee/sidebar.html'%}
        </div>
        <!-- <div class="col-md-1"></div> -->
        <div class="col-md-9 ml-3">
            <div class="row" style="left: 0; right: 0">

                <div class="container m-2 p-1">
                    <nav class="navbar navbar-expand-lg navbar-dark rounded bg-dark mt-4 ">
                        <a class="navbar-brand" href="{% url 'home' %}">IMS</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNav">
                          <ul class="navbar-nav">
                            <li class="nav-item active">
                              <a class="nav-link" href="{% url 'home'%}">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="{% url 'antivirus_list'%}">Record List</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="{% url 'antivirus_form'%}">Add Entry</a>
                            </li>
                            <div class="logout">
                                <li class="nav-item">
                                  <a class="nav-link mr-o" href="{% url 'logout'%}">Logout</a>
                                </li>
                               </div>
                          </ul>
                        </div>
                      </nav>
                </div>            </div>

            <div class="container mt-4">

                <div class="row">
                    <div class="col-md-3">
                        <div class="card  shadow bg-white m-2">
                            <div class="card-body">
                                <h5 class="text-center m-2">No. of <br> Employees</h5>
                                <hr>
                                <h3 class="text-center"><span class="badge badge-info">{{total_employees}}</span></h3>

                            </div>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="card shadow bg-white  m-2">
                            <div class="card-body">
                                <h5 class="text-center m-2">No. of <br> Departments</h5>
                                <hr>
                                <h3 class="text-center"><span class="badge badge-primary">{{total_department}}</span></h3>

                            </div>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card  m-2 shadow bg-white">
                            <div class="card-body">
                                <h5 class="text-center m-2">No. of<br>Records</h5>
                                <hr>
                                <h3 class="text-center"><span class="badge badge-success">{{total_records}}</span></h3>

                            </div>

                        </div>
                    </div>
                   
                </div>
            </div>
        </div>

    </div>
    

    {% endblock content%}
</body>