{% extends 'employee/base.html'%} {% block content%}
<div class="row">


    <div class="col-md-2 position-fixed bg-ligth   p-3" data-spy="scroll" data-target="#main" id="sticky-sidebar">
        <a class="navbar-brand" href="#">  {% load static %}
                <img class="ml-2" src="https://dashkit.goodthemes.co/assets/img/logo.svg" style="height: 60px;">
            </a>
        <div>
            <h4 class="m-2">EMPLOYEE MANAGEMENT</h4>
            <hr class="text-info">
        </div>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="/admin" class="nav-link text-dark"> <i class="fa fa-home m-1 text-info"></i> Admin</a>
                <a href="{% url 'home'%}" class="nav-link text-dark"><i class="fa fa-columns m-1 text-info"></i>  Dashboard</a>
                <a href="" class="nav-link text-dark"><i class="fa fa-building m-1 text-info"></i>  Department</a>
                <a href="{% url 'employee_list'%}" class="nav-link text-dark"> <i class="fa fa-user m-1 text-info"></i> Employees</a>
                <a href="" class="nav-link text-dark"> <i class="fa fa-tasks m-1 text-info"></i> Projects</a>
                <a href="" class="nav-link text-dark"> <i class="fa fa-calendar m-1 text-info"></i> Events</a>
                <a href="" class="nav-link text-dark"> <i class="fa fa-briefcase m-1 text-info"></i> Job Portal</a>
            </li>
        </ul>

    </div>
    <div class="col-md-9"></div>
</div>
{% endblock content%}